*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #1e1e1e;
    color: #fff;
}

a {
    text-decoration: none;
}

.menu {
    padding: 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.menu > div > img {
    width: 200px;
}

.menu > ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 16px;
    justify-content: center;
    align-items: center;
    }

    .menu > ul > li > a {
        text-decoration: none;
        color: #fff;
    }

.menu > ul > li > a:hover{
    background-color: #fd6f00;
    padding: 6px;
    border-radius: 6px;
}

.container {
    display: flex;
    flex-direction: column-reverse;
    padding: 32px;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.profile > img {
    border-radius: 50%;
    border: solid 2px #fd6f00;
    width: 250px;
    height: 250px;
    position: relative;
    background-color: #fff;
}

.profile > img {
    overflow: hidden;
    position: absolute;
    top: -89px;
    left: -30px;
    
}
.social-media{
    margin-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

/* Crear una condicion para aplicar estilos en desktop */
/* @media son funciones de CSS que permiten modificar los estilos
en base a una medida */

/* Desktop - Large devices */
@media (min-width: 1025px) {
  .menu {
    flex-direction: row;
    justify-content: space-between;
    padding: 60px;
  }

  .menu > ul {
    flex-direction: row;
    gap: 40px;
  }
  }